<h1>Nuevo Taller</h1>

<form action="/create" method="POST">
    
    <fieldset>
        <label for="name">Nombre: </label><br>
        <input type="text" name="name" id="name">
    </fieldset>

    <fieldset>
        <label for="description">Descripcion: </label><br>
        <textarea name="description" id="description" cols="40" rows="10"></textarea>
    </fieldset>

    <fieldset>
        <input type="submit">
    </fieldset>

</form>

<a href="/"></a>