    <h1>Taller de <%= @name %></h1>

    <p> <%= @description %> </p>

    <div>
    <button>  <a href="/<%= @name %>/edit" method="post">Editar Taller </a> </button>

        <form action="/<%= @name %>" method ="post">

        <input type="hidden" name="_method" value="delete">
        <br>
        <input type="submit" name="delete" value="Borrar taller">
        
        </form>
    </div>

    <a href="/">Volver al inicio</a>